//
   Created by sasha on 26/06/2017.
extends layout

block headerContent
    meta(charset='utf-8')
    title Friday
    link(rel='stylesheet', href='/stylesheets/friday/IndexStyle.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src="/socket.io/socket.io.js")
    script(type='text/javascript', src="/javascripts/friday/bootstrap.min.js")
    script(type='text/javascript', src="/javascripts/friday/spechRecord.js")

block bodyContent
    body(onload='start()')
        #monitor
        #userConsole
            input#userConsoleText.form-control(type='text', placeholder='Text input', size='20', maxlength='90%', value='')
