//
   Created by sasha on 27/06/2017.
//
   Created by sasha on 26/06/2017.
extends layout

block headerContent
    title Remote control

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
    script(type='text/javascript', src="/javascripts/remoute/remout.js")
    script(type='text/javascript', src="/javascripts/remoute/bootstrap.js")
    link(href='stylesheets/remoute/cover.css', rel='stylesheet')
    link(href='stylesheets/remoute/bootstrap.css', rel='stylesheet')

block bodyContent
    body(onload='onStart()')
        .inner.cover
            h1.cover-heading Страница управления электропитанием
            p.lead Просто жмите кнопочки и наслаждайтесь =)
                p.lead
                    .btn-group(data-toggle='buttons')
                        label.btn.btn-outline-danger(onclick='sendStatus(0)')
                            input#option1(type='radio', name='options', checked='')
                            |  Led Off
                        label.btn.btn-outline-danger(onclick='sendStatus(1)')
                            input#option2(type='radio', name='options')
                            |  Led On
            p.lead
                Id устройства:
                select#deviceId.btn-outline-danger