//
   Created by sasha on 19/07/2017.
doctype html
html
    head
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js')
        script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAuATrSFH7PE0eoVWP4kvGcFmxK3tqbbOI&callback=initMap')
        script(type='text/javascript', src="/javascripts/simulation/gps_tracker.js")
        style.
            #map {
                height: 100%;
            }
            html, body {
                height: 100%;
                margin: 0;
                padding: 0;
            }
    body
        #map
